// Placeholder to allow customizing SCSS variables
// For example, to change the default link color:
// $link-base-color: red;

// Variables needed by base.scss and layout.scss
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
